li.L6 { background-color: grey; }
li.L7 { background-color: grey; }
li.L11 { background-color: grey; }
li.L12 { background-color: grey; }
li.L13 { background-color: grey; }
li.L14 { background-color: grey; }
li.L15 { background-color: grey; }
li.L16 { background-color: grey; }
li.L18 { background-color: grey; }
li.L22 { background-color: grey; }
li.L25 { background-color: grey; }
li.L27 { background-color: grey; }
