li.L17 { background-color: grey; }
li.L18 { background-color: grey; }
li.L19 { background-color: grey; }
li.L21 { background-color: grey; }
li.L23 { background-color: grey; }
li.L68 { background-color: grey; }
li.L70 { background-color: grey; }
li.L81 { background-color: grey; }
li.L83 { background-color: grey; }
li.L34 { background-color: grey; }
li.L39 { background-color: grey; }
li.L47 { background-color: grey; }
li.L54 { background-color: grey; }
